
<router-outlet></router-outlet>
<div class="row g-3 align-items-center filter" [formGroup]="filterForm">
  <div class="col-auto">
    <label for="inputFilter" class="col-form-label">Movie filter: </label>
  </div>
  <div class="col-auto">
    <input type="text" id="inputFilter" class="form-control" formControlName="movieFilter">
  </div>

  <div id="check-watch-list" class="form-check form-switch">
    <label class="form-check-label" for="flexSwitchCheckDefault">Watchlist 
      <input class="form-check-input" type="checkbox" 
      role="switch" id="flexSwitchCheckDefault"  style="background-color: #B42DFA; border-color: #B42DFA;"
      [checked]="watchlistSelected" [disabled]="disabledWatchlist" (click)="applyWatchlist()" >
    </label>
  </div>
</div>

<div class="container">
  <app-poster-details [movies]="filteredMovies" [showWatchlist]="watchlistSelected" (resetWatchlistButton)="verifyStatus($event)"></app-poster-details>
</div>